@import url('https://fonts.googleapis.com/css2?family= Roboto & display = swap');
@import url('https://fonts.googleapis.com/css2?family= Titillium +Web & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.banner{
    height: 600px;
    background-image: url(../img/ImagemBanner.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.texto-banner{
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.posicao-texto{
   justify-content: flex-end;
}

.texto-banner h1{
    font-family: 'Titilium web', sans-serif;
    font-size: 70px;
}

.texto-banner a{
    background-color:#C31616;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 15px;
}

.texto-banner p{
    margin-bottom: 50px;
}

.section-jogos{
    background-color: black;
    height: 100px;
}

.jogos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.conteudo-sobre{
    background-image: url(/img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-sobre{
    color: white;
}

